useDynLib(protViz, .registration = TRUE)

import("methods")
import("Rcpp")

importFrom("grDevices", "dev.off", "gray.colors", "pdf", "rainbow",
             "rgb")

importFrom("graphics", "abline", "axis", "barplot", "box", "boxplot",
             "close.screen", "hist", "image", "legend", "lines", "par",
             "pie", "plot", "points", "rect", "screen", "segments",
             "split.screen", "text")

importFrom("stats", "aov", "cor", "dist", "dnorm", "quantile",
             "reshape", "sd", "t.test")

importFrom("utils", "combn", "packageVersion", "read.table",
             "write.table")

importFrom("utils", "packageVersion")

export("aa2mass")
export("defaultIon")
export("deisotoper")
export("de_novo")
export("findNN_")
export("findNN")
export("fragmentIon")
export("genMod")
export("iTRAQ2GroupAnalysis")
export("lcmsmap")
export("mdp")
export("parentIonMass")
export("peakplot")
export("pgImporter")
export("pgLFQaov")
export("pgLFQtNpq")
export("ppp")
export("pps")
export("psm")
export("PTM_MarkerFinder")
export("PTM_MarkerFinder_util")
