import("methods")
import("Rcpp")
useDynLib(protViz)

export("aa2mass")
export("defaultIon")
export("deisotoper")
export("de_novo")
export("findNN_")
export("findNN")
export("fragmentIon")
export("genMod")
export("iTRAQ2GroupAnalysis")
export("lcmsmap")
export("mdp")
export("parentIonMass")
export("peakplot")
export("pgImporter")
export("pgLFQaov")
export("pgLFQtNpq")
export("ppp")
export("pps")
export("psm")
export("PTM_MarkerFinder")
export("PTM_MarkerFinder_util")

